{% include 'user_log/main.html' %} 

{% block content %}

<html>

<p> This is our User Topic: 
    <a href = "{% url 'topics' %}">Topics</a>
</p>


<p> List of Entries: </p>
<ul>
{% for entry in entry_objects %}
    <li>
        
        <p>{{ entry.date_added|date:'M d,Y H:i' }}</p>
        <p>{{ entry.text|linebreaks}}</p>
    </li>
{% empty %}
    <li>
         There are no entries for this topic yet.
    </li>
    
{% endfor %} 
</ul>

{% include 'user_log/main.html' %} 
{% endblock content %}
</html>

