{% include 'user_log/main.html' %} 

{% block content %}


<body>

	<br>
		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>User posts</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Category</th>		
						</tr>

						{% for i in topics %}
							<tr>
								<td>{{i.text}}</td>
							</tr>
						{% endfor %}	
					</table>
				</div>
			</div>
			
		</div>
	</br>

{% include 'user_log/main.html' %} 
{% endblock content %}
